@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700@400;700&display=swap');
@import url('tldraw/tldraw.css');

body {
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
}

/* Prompt input */

.prompt-input {
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 100%;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 8px;
	z-index: 100;
}

.prompt-input form {
	display: flex;
	padding: 8px;
	gap: 8px;
	pointer-events: all;
	background-color: var(--color-panel);
	border-radius: 8px;
	box-shadow: var(--shadow-1);
}

.prompt-input input[type='text'] {
	width: 240px;
	max-width: 100%;
	height: 36px;
	padding: 2px 8px;
}

.prompt-input button {
	width: 64px;
	height: 36px;
}
